.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
  }
  
  .navbar__logo {
    width: 200px;
  }
  
  .navbar__profile {
    width: 75px;
  }
  
  @media (max-width: 800px) {
    .navbar {
      padding: 15px 30px;
    }
  
    .navbar__logo {
      width: 150px;
    }
  
    .navbar__profile {
      width: 60px;
    }
  }
  